body{
    background-color: rgb(189, 202, 198);
}
.cart .cart-item{
    width:100%;
    background-color: rgb(18, 18, 226);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 100px;
    padding: 20px;
    min-height: 100px;  
}

.cart-item-image{
    height: auto;
    max-width: 100%;
    width: 10rem;
    padding: 1rem;
 
}
.cart-item-details{
    background-color: rgb(109, 89, 89);
    border: 1px solid #fff;
    border-radius: 1rem;
    width:200px;
    color: #fff;
}
.cart-item .itemcard{
    display: flex;
    padding: 1rem;
    background-color: #fff;
}
.quantity-controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputitem{
    padding: 0.5rem;
    width: 7rem;
}

.cart-total,.continue-shopping{
    color: #fff;
    font-size: 2rem;
}
.shopping-title{
    color: #fff;
    margin:0 auto;
    animation:expand 1000ms;
    animation-iteration-count: infinite;
}
.inputcontrols{
    display: flex;
    
}
.continue-shopping{
    background-color: #176e43;
    margin-bottom: 20rem;
}
.totaltext{
    color: black;
}

@keyframes expand{
    from{
        color: #fff;
        text-shadow: 3px 3px 3px yellow;
    }
    to{
        color: pink;
    }
}

@media screen and (max-width:800px){
   body{
    max-width: 100%;
    height: 100vh;
   }
    .cart-item{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 900px;
    }
    .itemcard{
        width:70%
    }
    .cart-item-image{
        width: 50%;
    }
    .titlecart{
        font-size: 0.7rem;
    }
    .para-cart{
        font-size: 0.8rem;
    }
    .remove-btn{
        padding: 0.4rem;
        font-size: 1rem;
    }
    .inputitem{
        width: 2rem;
    }
    .cart-total{
        font-size: 1rem;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
    }
    .continue-shopping{
        font-size: 1rem;
    }
    .totaltext{
        margin-bottom: 0.5rem;
    }
    .check-btn{
        padding: 0.2rem;
        height: 3rem;
    }
    .check-btn:active{
        transform: translateY(20px);
    }

}
