body{
  background-color: rgb(59, 59, 59);
}
.homepage {
    padding: 1rem;
   
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #fff;
  }
  
  .leftside {
    text-align: center;
  }
  .left-txt{
    max-width: 50%;
  }
  
  .header-txt {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .para1, .para2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .para2{
    max-width: 100px;
  }
  
  .rightside {
    width: 100%;
  }
  
  .image1 {
    width: 100%;
    max-width: 60rem;
    height: auto;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .leftside {
      text-align: left;
      max-width: 50%;
    }
  
    .rightside {
      width: 45%;
    }
  }