.navbar{
    width: 100%;
    height: 5rem;
    position:fixed;
    background-color:#000000;
    top: 0;
    display: flex;
   
}
.navbar .leftside{
    flex: 50%;
    background-color: red;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navbar .leftside button{
    display: none;
}

.navbar .leftside .links a{
    color: #fff;
    font-size: 2rem;
    margin-left: 2rem;
}


.navbar .rightside{
    flex: 50%;
    background-color: blue;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 3rem;
}
body{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:850px){
   
    .navbar .leftside .links a{
        font-size: 1rem;
    }
    .navbar{
        width: 100%;
        
    }
   
}
@media only screen and (max-width:650px){
    .navbar .leftside button{
        display: flex;
    }
    .navbar .leftside .links{
        display: none;
    }

    .navbar .leftside #hidden{
        display: flex;
        flex-direction: column;
        position: absolute;
        max-height: 5rem;
        left: 0;
        top:5rem;
        background-color: green;
        width: 100%;
        justify-content: center;
        align-items: center;
       }
       .navbar .leftside #hidden a{
        margin: 0.5rem;
        font-size: 1rem;
       }
}
.outlet{
    width: 100%;
    background-color: yellow;
}
